* {
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FDE4FF;
}

header {
  height: 15vh;
  text-align: center;
  font-size: large;
  background-image: url("logo/choidu_title.png");
  background-size: auto;
}

h2 {
  margin-top: 0;
  font-weight: 400;
}

img {
   height: 50vh;
   display: block;
   margin: 0 auto;
}

.text-field {
    font-size: 14px;
    border-style: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 260px;
    color: black;
  }

  #clock {
    text-align: center;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
  }
