header{
  width: 100%;
  position: fixed;
  z-index: 100000;
  background-color: rgb(255 255 255 / 70%);
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  text-align: center;
  box-shadow: 0 1px 30px rgba(240, 237, 233, 0.596);
  padding: 0 20px;
  box-sizing: border-box;
}

body{
  background-color: #FDE4FF;
}

#main{
  margin-top: 25vh;
}

ul{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 0;
  font-weight: 400;
}

.text-field {
  display: inline;
  border-radius: 5px;
  margin: 5px;
  background: salmon 50%;
  font-family: 'SebangGothic';
  font-weight: 400;
  font-size: 14px;
  border-style: none;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  color: black;
  }

  nav{
    margin-bottom: 10px;
  }

  #clock {
    text-align: center;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer{
    text-align: center;
    color: #999;
    list-style-type: none;
  }

  footer ul{
    list-style-type: none;
  }

  .flower_2{
    margin-left: 100px;
    margin-right: 100px;
  }
