* {
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FDE4FF;
}

header {
  margin-top: 0;
  height: 10vh;
  text-align: center;
  background-image: url("logo/choidu_title.png");
  font-size: large;
}

h2 {
  margin-top: 0;
  font-weight: 400;
}

img {
  height: 50vh;
}

.text-field {
    font-size: 14px;
    border-style: none;
    padding: 10px;
     margin-bottom: 10px;
      border-radius: 5px;
      width: 260px;
      color: #9B9B9B;
  }

    padding: 17px 0 0 0;
  }
  */
