* {
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FDE4FF;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100000;
  background-color: rgb(255 255 255 / 70%);
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  text-align: center;
  box-shadow: 0 1px 30px rgba(240, 237, 233, 0.596);
  padding: 0 20px;
  box-sizing: border-box;
}

h2 {
  margin-top: 0;
  font-weight: 400;
}

#clock {
  text-align: center;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-field {
  display: inline;
  border-radius: 5px;
  margin: 5px;
  background: salmon 50%;
  font-family: 'SebangGothic';
  font-weight: 400;
  font-size: 14px;
  border-style: none;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  color: black;
  }

  nav{
    margin-bottom: 10px;
  }

.container {
    width: 100%;
    height: 300px;
    
}

input {
  width: 100%;
  font-size: 16px;
  border: 1px solid #d4d4d4;
  color: #333;
  height: 42px;
  margin: 0 0 8px;
  padding: 0 10px;
  box-sizing: border-box;
}
.login-loginsize{
  margin-top: 20vh;
}
.loginsize {
  text-align: center;
  max-width: 330px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.loginLogo {
  height: 90px;
  background-size: auto 70px;
  font-size: 24px;
  font-weight: 800;
}

.login_btn {
  margin: 20px 0 15px 0;
}

.btnLogin {
  width: 100%;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  padding: 0 30px;
  margin: 0;
  background-color: #F2911D;
  border: none;
  display: inline-block;
  height: 50px;
  cursor: pointer;
  white-space: pre-wrap;
}
