* {
  box-sizing: border-box;
  font-family:  "Gamja Flower", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FDE4FF;
}

header {
  margin-top: 0;
  height: 10vh;
  text-align: center;
  font-size: large;
}

nav {
  text-align: center;
}

.container {
    background-color: #fff;
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

input {
  width: 100%;
  font-size: 16px;
  border: 1px solid #d4d4d4;
  color: #333;
  height: 42px;
  margin: 0 0 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.loginsize {
  text-align: center;
  max-width: 330px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.loginLogo {
  height: 90px;
  background-size: auto 70px;
  font-size: 24px;
  font-weight: 800;
}

.login_btn {
  margin: 20px 0 15px 0;
}

.btnLogin {
  width: 100%;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  padding: 0 30px;
  margin: 0;
  background-color: #F2911D;
  border: none;
  display: inline-block;
  height: 50px;
  cursor: pointer;
  white-space: pre-wrap;
}
