* {
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

/*
.navFootM {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.navFootMIn {
  position: relative;
  height: 80px;
  background-color: bisque;
  background-size: auto 150px;
}

.navFootNavWrap{
  display: flex;
  padding: 17px 0 0 0;
}
*/

.container {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
}

input {
  width: 100%;
  font-size: 16px;
  border: 1px solid #d4d4d4;
  color: #333;
  height: 42px;
  margin: 0 0 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.loginsize {
  text-align: center;
  max-width: 330px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.loginLogo {
  height: 90px;
  background: url(https://github.com/choidu/site/assets/121925236/d25b3075-8d73-40aa-aa76-6a89215b0f46) center 0 no-repeat;
  background-size: auto 70px;
  font-size: 24px;
  font-weight: 800;
}

.login_btn {
  margin: 20px 0 15px 0;
}

.btnLogin {
  width: 100%;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  padding: 0 30px;
  margin: 0;
  background-color: #F2911D;
  border: none;
  display: inline-block;
  height: 50px;
  cursor: pointer;
  white-space: pre-wrap;
}
